body {
	font-family: 'Roboto', sans-serif;
	color: #222;
}

img {
	max-width: 100%;
	height: auto;
}

.img-full-wdith {
	width: 100%;
	height: auto;
}

.img-80 {
	width: 100%;

	@mixin atSmall {
		display: block;
		margin: 0 auto;
		width: 80%;
		height: auto;
	}
}

.img-b-padding {

	padding-bottom: 3.125rem;

	@mixin atSmall {
		padding-bottom: 5.25rem;
	}

}

* {
	box-sizing: border-box;
}

a {
	color: $mainCoral;
	text-decoration: none;
}

a:hover {
	color: $mainViolet;
}

p {
	margin: 0;
}

hr {
    border:0;
    margin: 0 auto;
/*    background-image:url('../../assets/images/icons/hr-flower.svg') no-repeat top center;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;

    @mixin atSmall {
	    margin-top: 5rem;
	    margin-bottom: 2.5rem;
	}
*/
}

/* Service Icons */

.service-icons {
	display: block;
	margin: 0 auto 3.125rem auto;

/*	@mixin atSmall {
		margin: 0 auto 5.25rem auto;
	}
*/
	@mixin atMedium {
		margin: auto;
	}

}