.headline {

	&__title {
		font-weight: 200;
		color: $darkGrey;
		margin: 0;
		font-size: 2rem;
		text-align: center;

		strong {
			font-weight: 300;
		}

		@mixin atSmall {
			font-size: 2.75rem;
			font-weight: 100;
		}

		@mixin atMedium {
			font-size: 3.0rem;
			font-weight: 100;
		} 
	}

	&__subtitle {
		font-weight: 200;
		color: $darkGrey;
		font-size: 1.7rem;

		@mixin atSmall {
			font-size: 2.5rem;	
			font-weight: 100;
		}

		@mixin atMedium {
			font-size: 2.25rem;	
			font-weight: 100;
		}		

		@mixin atLarge {
			font-size: 2.25rem;
			font-weight: 100;
		}

		&--m-until-medium {
			margin-top: 0;
			text-align: center;

			@mixin atMedium {
				margin-top: 0;
				text-align: left;
			}

		}

		strong {
			font-weight: 300;
		}

		&--wide {
			margin-bottom: 3.125rem;
			margin-top: 0;

			@mixin atSmall {
				margin-bottom: 5.25rem;
			}

			@mixin atMedium {
				margin-bottom: 5.25rem;
			}
		}

		&--column {
			margin-top: 3rem;
			margin-bottom: 3rem;

			@mixin atSmall {
				margin:	5.25rem 0 5.25rem 0;
			}

			@mixin atMedium {
				margin: 0 0 3.25rem 0;
			}
		}
	}

	&__subtitle-3 {
		font-weight: 200;
		color: $darkGrey;
		font-size: 1.5rem;

		&--m-until-medium {
			margin-top: 3rem;

			@mixin atMedium {
				margin-top: 0;
			}
		}

		strong {
			font-weight: 300;
		}

		@mixin atSmall {
			font-size: 2rem;	
			font-weight: 200;
		}

		@mixin atMedium {
			font-size: 1.75rem;	
			font-weight: 200;
		}

		&--wide {
			margin-bottom: 5.625rem;
		}

		&--column {
			margin-bottom: 3rem;
		}

		&--sub {
			color: $mainCoral;
			text-align: center;
			font-size: 1.625rem;
			margin-top: 0;
			padding: 0.625rem 0;

			@mixin atSmall {
				font-size: 2rem;
			}
		}
	}

/*	font-weight: 200;
	font-size: 1.9rem;
	color: $darkGrey;

	@mixin atSmall {
		font-size: 2.875rem;
	}
*/
	&--centered {
		text-align: center;
	}

	&--coral {
		color: $mainCoral;
	}

	&--violet {
		font-size: 0.9rem;
		color: $mainViolet;

		a {
			color: $mainViolet;
		}

	&--bold {
		font-weight: 400;
	}

	}

	&--small {
		font-size: 1.2rem;

		@mixin atSmall {
		font-size: 1.875rem;
		}
	}

	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&--light {
		font-weight: 100;
	}

	&--b-margin-small {
		margin-bottom: .5em;
	}

	&--b-margin-large {
		margin-bottom: 1.6em;
	}

	&--no-t-margin {
		margin-top: 0;
	}
}