.primary-nav {
	padding-top: 25px;

	@mixin atLarge {
		padding-top: 0;
	}

	&--center-list {

		text-align: center;

		ul {
			display: inline-block;
	        margin: 0;
	        padding: 0;
		}

		li {
			padding: 25px 0; 

			@mixin atLarge {
				padding: 43px 0;
			}
		}

		@mixin atLarge {
			float: left;
			width: 59%;
			max-width: 1000px;
		}
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;

		@mixin atLarge {
			display: block;
			float: left;
			padding-right: 50px;
			display: inline-block;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atLarge {
			padding-right: 0px;
		}
	}

	a {
		color: $darkGrey;
		font-weight: 100;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		font-size: 1.2rem;
		margin: 0;

		@mixin atLarge {
			text-transform: uppercase;
			font-weight: 400;
			font-size: .85rem;
			background-color: transparent;

		}
	}
}