.site-header {
	position: absolute;
	z-index: 6;
	width: 100%;
	transition: background-color .3s ease-out;
	
	@mixin atLarge {
		min-height: 100px;		
	}


	&--is-expanded {
		background-color: #FFF;
		box-shadow: 0 6px 6px -8px #222;
	}

	@mixin atLarge {
		position: fixed;
		background-color: #fff;

		&--dark {
			background-color: rgba(23, 51, 72, .85);
		}
	}
	
	&__search-container {
		
		@mixin atLarge {
			width: 20%;
			float: left;
			text-align: right;
		}
	}

	&__logo {
		width: 100%;

		@mixin atLarge {
			left: auto;
			width: 20%;
			float: left;
			padding: 21px 0;
			top: 0;
		}
	}

	&__logo__graphic {
		text-indent: -9999px;
	}

	&__logo-small-center {
		margin: 0 auto;
		display: block;
	}

	&--search {
		display: block;
		margin: 25px auto 50px auto;

		@mixin atLarge {
			float: right;
			margin-top: 36px;
		}
	}

	&__menu-icon {
		width: 40px;
		height: 27px;
		position: absolute;
		z-index: 20;
		top: 25px;
		right: 25px;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 3px;
			background-color: #FFF;
			transform-origin: 0 0;
			transition: all .3s ease-out;
		}

		&__middle {
			position: absolute;
			top: 12px;
			left: 0;
			width: 40px;
			height: 3px;
			background-color: #FFF;
			transition: all .3s ease-out;
			transform-origin: 0 50%;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 40px;
			height: 3px;
			background-color: #FFF;
			transform-origin: 0 100%;
			transition: all .3s ease-out;
		}		

		@mixin atLarge {
			display: none;
		}
	}

	&__menu-icon--close-x {
		&::before {
			background-color: $mediumGrey;
			transform: rotate(31deg) scaleX(1.25);
		}

		.site-header__menu-icon__middle {
			background-color: $mediumGrey;
			opacity: 0;
			transform: scaleX(0);
		}

		&::after {
			background-color: $mediumGrey;
			transform: rotate(-31deg) scaleX(1.25) translateY(1px);
		}
	}

	&__menu-content {
		opacity: 0;
		transform: scale(1.2);
		transition: all .3s ease-out;
		position: relative;
		z-index: -10;
		padding-top: 90px;

		@mixin atLarge {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			transform: scale(1);
			text-align: center;
		}

		&--is-visible {
			opacity: 1;
			z-index: 13;
			transform: scale(1);
			padding-top: 25px;

			@mixin atLarge {
				padding-top: 0;
			}
		}
	}
}